.fundraiser-page {
  border: 1px solid black;
  padding: 8px;
}

.fundraiser-page img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.btn.negative {
  background: linear-gradient(90deg, maroon, red);
  color: white;
  margin: 8px;
}